---
key: 1
title: Services
permalink: /services/
excerpt: What can Versagility bring to the table?
image: people.jpg
background-image: people.jpg
---
{%
if site.categories.services %}
<table>
  <tr>
{%
      include fn_groupsort_reverse.html unsorted=site.categories.services groupby='priority' sortby='date'
%}{%  for work in sorted_list %}
    <td>
      <div class="card">
        <a href="{{ work.url | prepend: site.baseurl }}">
        <img style="width:100%; height: 15em;" src="{{ work.background-image | prepend: '../images/' }}">
        <div class="container">
          <h1><b>{{ work.title }}</b></h1>
          <p>
          {{ work.excerpt | strip_html | truncatewords: 12 }}
          </p>
          {% include techlist.html %}  
        </div>
        </a>
      </div>
    </td>{%
      endfor %}
  </tr>
</table>
    {%
endif
%}
